.toggle-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 24px auto;
  background: transparent;
  border: #A5E7E2 2px solid;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.toggle-button {
  flex: 1;
  padding: 15px 20px;
  border-radius: 100px;
  color: #fff;
  background-color: transparent;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
}

.toggle-button.selected {
  background-color: #A5E7E2;
  color: #4CAD94;
}

.toggle-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}