.toggle-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 24px auto;
  background: transparent;
  border: 2px solid; /* Gets the colour from correctness checks below */
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  overflow: hidden;

  .incorrect & {
    border-color: #F8CAA3;
  }

  .partially-correct & {
    border-color: #F2CBBD;
  }

  .mostly-correct & {
    border-color: #a4d4a2;
  }

  .correct & {
    border-color: #A5E7E2;
  }
}

.toggle-button {
  flex: 1;
  padding: 24px 20px;
  border-radius: 100px;
  color: #fff;
  background-color: transparent;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.toggle-button.selected {
  color: #4CAD94;

  .incorrect & {
    color: #9F938B;
  }

  .partially-correct & {
    color: #E47958;
  }

  .mostly-correct & {
    color: rgb(99, 147, 96);
  }
}

.toggle-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}