body {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  text-align: center;
  background: linear-gradient(90deg, rgba(9,121,38,1) 9%, rgba(0,212,255,1) 100%);
}